<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/StockReport.js?r={{reload}}"></script>
    <script src="/static/js/DownloadFinancials.js?r={{reload}}"></script>
</head>

<body>
    <!-- Input Data -->
    <form>
        <div class="form-group">
            <label for="symbol">Stock Symbol</label>
            <input type="text" class="form-control" id="symbol" placeholder="Enter Stock Symbol">
        </div>
        <br>
        <div class="form-group">
            <label for="growth_rate">Growth Rate</label>
            <input type="number" class="form-control" id="growth_rate" placeholder="Enter Alternate Growth Rate in % (Optioal)" min="0">
        </div>
        <br>
        <div class="form-group">
            <label for="effective_tax_rate">Effective Tax Rate</label>
            <input type="number" class="form-control" id="effective_tax_rate" placeholder="Enter Alternate Effective Business Tax Rate in % (Optioal)" min="0">
        </div>
        <br>
        <div class="form-group">
            <label for="interest_rate">Interest Rate</label>
            <input type="number" class="form-control" id="interest_rate" placeholder="Enter Alternate Business Interest Rate in % (Optioal)" min="0">
        </div>
        <br>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div id="misc_buttons">
        <button id="download" type="submit" class="btn btn-primary">Download Financials</button>
    </div>
    <!-- Image loader -->
    <div id='loader' style='display: none;'>
        <img src='/static/images/reload_results.gif' width='72px' height='72px'>
    </div>
    <br/>
    <!-- Results -->
    <div id="results" style='display: none;'>
        <div class="header">
            <h2>
                Stock Fundamental Data
            </h2>
        </div>
        <!-- Intrinsic Value Components -->
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col"><b>Metric</b></th>
                    <th scope="col"><b>Value</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="background-color:rgb(0, 140, 255);">Symbol:</th>
                    <td style="background-color:rgb(0, 140, 255);">
                        <div id="stock_symbol"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Stock Name:</th>
                    <td>
                        <div id="stock_name"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:rgb(230, 71, 71);" id="intrinsic_value_1">Intrinsic Value (USD):</th>
                    <td style="background-color:rgb(230, 71, 71);" id="intrinsic_value_2">
                        <div id="intrinsic_value"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Stock Price (USD):</th>
                    <td>
                        <div id="stock_price"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Market Cap (Millions USD):</th>
                    <td>
                        <div id="market_cap"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Number of Shares Outstanding (in Millions):</th>
                    <td>
                        <div id="shares_outstanding"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Short-Term Debt (in Millions):</th>
                    <td>
                        <div id="short_term_debt"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Long-Term Debt (in Millions):</th>
                    <td>
                        <div id="long_term_debt"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Total Liabilities (in Millions):</th>
                    <td>
                        <div id="total_liabilities"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Cash & Cash Equivalents (in Millions):</th>
                    <td>
                        <div id="cash"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Beta:</th>
                    <td>
                        <div id="beta"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Free Cash Flow (TTM) (in Millions):</th>
                    <td>
                        <div id="ttm_free_cash_flow"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">GDP Growth Rate (%):</th>
                    <td>
                        <div id="gdp_growth_rate"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Market Risk Premium (%):</th>
                    <td>
                        <div id="marktet_rish_premium"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Risk Free Rate (%):</th>
                    <td>
                        <div id="risk_free_rate"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Business Interest Rate (%):</th>
                    <td>
                        <div id="business_interest_rate"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Business Income Tax Rate (%):</th>
                    <td>
                        <div id="income_tax_rate"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Business Growth Rate (%):</th>
                    <td>
                        <div id="business_growth_rate"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="header">
            <h2>
                Ben Graham Data
            </h2>
        </div>
        <!-- Ben Graham Criteria -->
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col"><b>Metric</b></th>
                    <th scope="col"><b>Value</b></th>
                    <th scope="col"><b>Requirement</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Current Assets / Current Liabilities:</th>
                    <td>
                        <div id="current_ratio"></div>
                    </td>
                    <td>A least 1.5</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="How much short-term plus long-term debt compares to net current assets">Debt / Net Current Assests:</th>
                    <td>
                        <div id="d_t_n_c_a_ratio"></div>
                    </td>
                    <td>No more than 1.1</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="How many recent annuals/quarters earnings were negative">Earning Deficits:</th>
                    <td>
                        <div id="earning_deficits"></div>
                    </td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">Dividend Per Share:</th>
                    <td>
                        <div id="dividend"></div>
                    </td>
                    <td>Any value existing</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Earning growth this year vs last year and this quarter vs last quarter">Earning Growth:</th>
                    <td>
                        <div id="earning_growth"></div>
                    </td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th scope="row">Pirce / Net Tangible Assets:</th>
                    <td>
                        <div id="p_t_b_v_ratio"></div>
                        <td>Less than 1.2</td>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Return that a company makes above the average cost payed for debt and equity capital (NOPAT/Invested Capital).">Return on Invested Capital (ROIC):</th>
                    <td>
                        <div id="r_o_i_c"></div>
                        <td>At least 10% / highe than WACC</td>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Weighted average of cost of debt (interest paid on debt) and cost of equity">Weighted Average Cost of Copital (WACC):</th>
                    <td>
                        <div id="w_a_c_c"></div>
                        <td>Lower than ROIC</td>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="header">
            <h2>
                Peter Lynch Data
            </h2>
        </div>
        <!-- Peter Lynch Criteria -->
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col"><b>Metric</b></th>
                    <th scope="col"><b>Value</b></th>
                    <th scope="col"><b>Requirement</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Price / Earnings (P/E) vs Current Growth:</th>
                    <td>
                        <div id="p_e"></div>
                    </td>
                    <td>Should have more growth than P/E:</td>
                </tr>
                <tr>
                    <th scope="row">Price / Earnings to Growth Ratio (PEG):</th>
                    <td>
                        <div id="p_e_g"></div>
                    </td>
                    <td>No more than 1</td>
                </tr>
                <tr>
                    <th scope="row">Dividend Adjusted Price / Earnings to Growth Ratio (DPEG):</th>
                    <td>
                        <div id="d_p_e_g"></div>
                    </td>
                    <td>No more than 1</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="% of a company’s share price available to spend on strengthening the business, paying down debt, returning money to shareholders, and other positive campaigns.">Net Cash Per Share:</th>
                    <td>
                        <div id="n_c_s"></div>
                    </td>
                    <td>Compare to EPS</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Measure of the degree to which a company is financing its operations through debt versus wholly-owned funds">Debt to Equity Ratio (D/E):</th>
                    <td>
                        <div id="d_e_ratio"></div>
                    </td>
                    <td>No more than 2</td>
                </tr>
                <tr>
                    <th scope="row">Insider Ownership (%):</th>
                    <td>
                        <div id="insider"></div>
                    </td>
                    <td>Reasonable stake by owners</td>
                </tr>
            </tbody>
        </table>
        <div class="header">
            <h2>
                Other Metrics
            </h2>
        </div>
        <!-- Peter Lynch Criteria -->
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col"><b>Metric</b></th>
                    <th scope="col"><b>Value</b></th>
                    <th scope="col"><b>Requirement</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="tool-tip" title="Cogs over inventory. Shows how many times a company has sold and replaced inventory during a given period. A low turnover implies weak sales and possibly excess inventory, while a high ratio implies either strong sales or insufficient inventory.">Inventory Turnover:</th>
                    <td>
                        <div id="invetory_turnover"></div>
                    </td>
                    <td>Between 5 to 10</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Net credit sales over receivables. Shows a company's effectiveness in collecting its receivables or money owed by clients.">Account Receivable Turnover:</th>
                    <td>
                        <div id="receivables_turnover"></div>
                    </td>
                    <td>The higher the better</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Purchases over receivables. Shows the rate at which a company pays off its suppliers.">Account Payable Turnover:</th>
                    <td>
                        <div id="payables_turnover"></div>
                    </td>
                    <td>The higher the better</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Total sales to assets. Shows how effectively company is using its assets to generate sales.">Asset Turnover:</th>
                    <td>
                        <div id="asset_turnover"></div>
                    </td>
                    <td>2.5+ desirable</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Measures how the profitability of a corporation in relation to stockholders’ equity. Net Income over shareholder equity.">Return on Equity (ROE) (%):</th>
                    <td>
                        <div id="r_o_e"></div>
                    </td>
                    <td>17% or more</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Shows how well a company utilizes its assets, by determining how profitable a company is relative to its total assets..">Return on Assets (ROA) (%):</th>
                    <td>
                        <div id="r_o_a"></div>
                    </td>
                    <td>More than 5%</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="Assesses if a company's management is generating enough profit from its sales and whether operating costs and overhead costs are being contained">Net Profit Margin (%):</th>
                    <td>
                        <div id="profit_margin"></div>
                    </td>
                    <td>Reasonable stake by owners</td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="% of income that is due to higher sales or lower costs. An increase in net income without a corresponding increase in cash flow from operations is a red flag.">Quality of Income:</th>
                    <td>
                        <div id="quality_of_income"></div>
                    </td>
                    <td>Desired Greater than 1.0</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Links -->
    <div id="linksv2" style='display: none;' class="table-responsive">
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col"><b>Link</b></th>
                    <th scope="col"><b>Details</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <a id="yfinance" href="#" target="_blank">
                            <img src='/static/images/yfinance.png' class="img-responsive" alt="..." height='72px'>
                        </a>
                    </th>
                    <td>
                        Yahoo Finance Generic Data
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <a id="morningstar" href="#" target="_blank">
                            <img src='/static/images/morningstar.png' class="img-responsive" alt="..." height='72px'>
                        </a>
                    </th>
                    <td>
                        Morningstar Generic Data
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <a id="macrotrends" href="#" target="_blank">
                            <img src='/static/images/macrotrendss.jpg' class="img-responsive" alt="..." height='72px'>
                        </a>
                    </th>
                    <td>
                        MacroTrends shows how statments change over time
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <a id="gurufocus" href="#" target="_blank">
                            <img src='/static/images/gurufocus.jpg' class="img-responsive" alt="..." height='72px'>
                        </a>
                    </th>
                    <td>
                        GuruFoucs shows detailed calculation for metrics
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <div><a id="annual" target="_blank" class="btn btn-secondary" href="#">10-K</a></div>
                    </th>
                    <td>
                        Lastest Annual Report from Edgar
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="tool-tip" title="hi.">
                        <div><a id="quarterly" target="_blank" class="btn btn-secondary" href="#">10-Q</a></div>
                    </th>
                    <td>
                        Lastest Quarterly Report from Edgar
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="links" style='display: none;' class="card-columns">



    </div>

    <!-- Plots -->
    <div id="plots" style='display: none;'>
        <div class="header">
            <h2>
                Stock Plots
            </h2>
        </div>
        <!-- Total Revenue Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="total_revenue_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- EPS Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="eps_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- Free Cash Flow Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="free_cash_flow_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- Accounts Payable Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="accounts_payable_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- Accounts Receivable Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="accounts_receivable_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- Inventory Plot -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="inventory_plot" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- Growth Plots -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="growth_plots_annual" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="growth_plots_quarterly" class="chart"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>