<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/StockScreen.js?r={{reload}}"></script>
</head>

<body>
    <!-- Results -->
    <div id="links">
        <div class="header">
            <h2>
                Stock Screener
            </h2>
        </div>
        <!-- Intrinsic Value Components -->
        <table class="table table-hover table-dark table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col" class="text-center"><b>Stock List</b></th>
                    <th scope="col" class="text-center"><b>Value</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div><a id="new_constructs" target="_blank" class="btn btn-primary stretched-link" href="#">New Constructs</a></div>
                    </td>
                    <td>New Constructs using Ben Graham Method</td>
                </tr>
                <tr>
                    <td>
                        <div><a id="wallstreet_bets" target="_blank" class="btn btn-primary stretched-link" href="#">WallStreet Bets</a></div>
                    </td>
                    <td>Social Sentiment from WallStreet Bets</td>
                </tr>
                <tr>
                    <td>
                        <div><a id="macrotrends" target="_blank" class="btn btn-primary stretched-link" href="#">MacroTrends</a></div>
                    </td>
                    <td>MacroTrends Stock Screener</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>